.slider-1 {
  background-image: url("../assets/images/slider-2-.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider-2 {
  background-image: url("../assets/images/slider-2-.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider-3 {
  background-image: url("../assets/images/slider-2-.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
